/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  .title-decor {
    background-color: #FF8DCB;
  }

  .header__text {
    color: #353430;
  }

  button, a {
    color: #353430;
  }

  .header__theme-menu-item {
    color: #353430;
  }

  .header__theme-menu-button:hover {
    outline: 1px solid #32312D66;
  }

  .header__theme-menu-button:default {
    outline: 1px solid #353430;
  }

  .header__theme-menu-button:focus {
    border-bottom: 1px solid #353430 ;
  }

  .header__decor-bottom {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    border-bottom: 1px solid #353430;
    border-left: 1px solid #353430;
    bottom: 2%;
  }

  .header__decor-top { 
    content: '';
    width: 25px;
    height: 25px;
    position: absolute;
    border-top: 1px solid #353430;
    border-right: 1px solid #353430;
    top: 16px;
  }

  .header__decor {
    display: var(--block-decor);
  }


}

.theme-light .page {
  --backgroung-color: #FFF1F7;
  --background-image: none;
  --title-color: #FFC2E6;
  --title-shadow: #FF8DCB;
  --main-text-color: #353430;
  --link-shadow: #FF8DCB;
  --rec-color: #353430;
  --main-text-color: #353430;
  --title-section-color: #353430;
  --title-decor: #353430;
  --block-decor: none;
}

